body {
  font-family: Arial, sans-serif;
  background-color: #dce6dc; /* Set background color */
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: left;
  color: #333;
}

.entry {
  margin-bottom: 20px;
}

.title {
  font-weight: bold;
  color: black; /* Set hyperlink color to black */
  text-decoration: none; /* Remove underline from hyperlinks */
}

.title:hover {
  text-decoration: underline; /* Add underline on hover for better UX */
}

.details {
  font-style: italic;
  color: #555;
}

.separator {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.article-separator {
  border: none;
  border-top: 1px solid #aaa;
  margin: 10px 0;
}